:root {
    --dark: #131313;
    --app-green: #00e7cb;
    --app-green-darker: #4e9a91e6;
    --content-width: 900px;
}

.main-dark1 {
    background-color: var(--dark);
    color: #fff;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
